@font-face {
  font-family: 'DejaVu Serif';
  src: url('./DejaVuSerif.ttf') format('truetype');
}

body {
  background: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-picker {
  margin-top: 20px;
}

.time-picker {
  margin-top: 10px;

  input {
    width: 100px;
    text-align: center;
  }
}

.location-picker {
  margin-top: 10px;

  input {
    width: 200px;
    text-align: center;
  }
}

.image-container {
  margin-top: 30px;
  background: url(./roof.jpg);
  width: 560px;
  height: 426px;
  display: flex;
  flex-direction: column;
}

.text-row {
  display: flex;
  justify-content: flex-end;

  > div {
    position: relative;
  }
}

.text,
.number {
  text-align: end;
  color: #C2C2C2;
  font-size: 36px;
  text-shadow: 0 0 2px #000000, 1px 0 2px #000000, 0 1px 2px #000000, 1px 1px 2px #000000, -1px 0 2px #000000, 0 -1px 2px #000000, -1px -1px 2px #000000, 1px -1px 2px #000000, -1px 1px 2px #000000;
  font-family: "DejaVu Serif";
  line-height: 1em;
}

.text {
  transform: scale(0.8, 1.2);
  transform-origin: right;
}

.number {
  transform: scale(0.95, 1.2);
  transform-origin: right;
}

.month,
.month-text,
.day,
.day-text,
.hour,
.colon-text,
.minute,
.ampm-text {
  margin-top: 288px;
}

.month {
  right: -17px;
}

.month-text {
  right: -9px;
}

.day {
  right: -7px;
}

.hour {
  min-width: 47px;
}

.colon-text {
  min-width: 18px;
  top: -7px;
}

.minute {
  min-width: 48px;
  right: -5px;
}

.ampm-text {
  transform: scale(0.9, 1.2);
}

.line-end1 {
  width: 205px;
}

.location {
  text-shadow: 0 0 3px #000000, 1px 0 3px #000000, 0 1px 3px #000000, 1px 1px 3px #000000, -1px 0 3px #000000, 0 -1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
  transform: scale(0.7, 1.1);
  top: 2px;
  white-space: nowrap;
}

.line-end2 {
  width: 230px;
}

.convert-button {
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    margin-left: 10px;
  }
}

@import url(./jquery-ui.min.css)
