@font-face {
  font-family: 'DejaVu Serif';
  src: url('./DejaVuSerif.ttf') format('truetype');
}

body {
  background: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.date-picker {
  margin-top: 20px;
}

div.time-picker {
  margin-top: 10px;
}

div.time-picker input {
  width: 100px;
  text-align: center;
}

div.location-picker {
  margin-top: 10px;
}

div.location-picker input {
  width: 200px;
  text-align: center;
}

div.image-container {
  margin-top: 30px;
  background: url(./roof.jpg);
  width: 560px;
  height: 426px;
  display: flex;
  flex-direction: column;
}

div.text-row {
  display: flex;
  justify-content: flex-end;
}

div.text-row > div {
  position: relative;
}

div.text,
div.number {
  text-align: end;
  color: #C2C2C2;
  font-size: 36px;
  text-shadow: 0 0 2px #000000, 1px 0 2px #000000, 0 1px 2px #000000, 1px 1px 2px #000000, -1px 0 2px #000000, 0 -1px 2px #000000, -1px -1px 2px #000000, 1px -1px 2px #000000, -1px 1px 2px #000000;
  font-family: "DejaVu Serif";
  line-height: 1em;
}

div.text {
  transform: scale(0.8, 1.2);
  transform-origin: right;
}

div.number {
  transform: scale(0.95, 1.2);
  transform-origin: right;
}

div.month,
div.month-text,
div.day,
div.day-text,
div.hour,
div.colon-text,
div.minute,
div.ampm-text {
  margin-top: 288px;
}

div.month {
  right: -17px;
}

div.month-text {
  right: -9px;
}

div.day {
  right: -7px;
}

div.hour {
  min-width: 47px;
}

div.colon-text {
  min-width: 18px;
  top: -7px;
}

div.minute {
  min-width: 48px;
  right: -5px;
}

div.ampm-text {
  transform: scale(0.9, 1.2);
}

div.line-end1 {
  width: 205px;
}

div.location {
  text-shadow: 0 0 3px #000000, 1px 0 3px #000000, 0 1px 3px #000000, 1px 1px 3px #000000, -1px 0 3px #000000, 0 -1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
  transform: scale(0.7, 1.1);
  top: 2px;
  white-space: nowrap;
}

div.line-end2 {
  width: 230px;
}

div.convert-button {
  margin-top: 20px;
}

div.footer {
  margin-top: 20px;
  color: #A7A7A7;
  font-size: 12px;
}

@import url(./jquery-ui.min.css)
