@font-face {
  font-family: 'DejaVu Serif';
  src: url('./DejaVuSerif.ttf') format('truetype');
}

body {
  background: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: lightskyblue;
  &:visited,
  &:hover,
  &:active {
    color: lightskyblue;
  }
}

.date-picker {
  margin-top: 20px;
}

.time-picker {
  margin-top: 10px;

  input {
    width: 100px;
    text-align: center;
  }
}

.location-picker {
  margin-top: 10px;

  input {
    width: 200px;
    text-align: center;
  }
}

.image-container {
  margin-top: 30px;
  background: url(./roof.jpg);
  width: 560px;
  height: 426px;
  display: block;
}

.date-time,
.location {
  color: #C2C2C2;
  font-size: 46px;
  font-family: 'LiSong Pro', 'DejaVu Serif', serif;
  line-height: 0.92em;
  white-space: nowrap;
  margin-left: 72px;
  letter-spacing: -2px;
  transform: scale(0.6, 1);
  transform-origin: left;
  text-shadow: 0 0 3px #000000, 1px 0 3px #000000, 0 1px 3px #000000, 1px 1px 3px #000000, -1px 0 3px #000000, 0 -1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
}

.date-time {
  margin-top: 282px;
}

.location {
  margin-top: 0;
}

.convert-button {
  margin-top: 20px;

  button {
    font-size: 1.5em;
  }
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    margin-left: 10px;
  }
}

@import url(./jquery-ui.min.css)
